[submodule "home/.vim/bundle/vim-easymotion"]
	path = home/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "home/.vim/bundle/fuzzyfinder"]
	path = home/.vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "home/.vim/bundle/l9"]
	path = home/.vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
