[submodule "home/.vim/bundle/vim-easymotion"]
	path = home/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/textobj-word-column"]
	path = home/.vim/bundle/textobj-word-column
	url = https://github.com/coderifous/textobj-word-column.vim.git
[submodule "home/.vim/bundle/vim-jade"]
	path = home/.vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/vim-signature"]
	path = home/.vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "home/.vim/bundle/vim-autoclose"]
	path = home/.vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "home/.vim/bundle/vim-gitgutter"]
	path = home/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/tlib_vim"]
	path = home/.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "home/.vim/bundle/vim-addon-mw-utils"]
	path = home/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "home/.vim/bundle/vim-snipmate-garbas"]
	path = home/.vim/bundle/vim-snipmate-garbas
	url = https://github.com/garbas/vim-snipmate.git
[submodule "home/.vim/bundle/vim-visual-star-search"]
	path = home/.vim/bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule "home/.vim/bundle/vim-unimpaired"]
	path = home/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "home/.vim/bundle/vim-matchit"]
	path = home/.vim/bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "home/.vim/bundle/textobj-rubyblock"]
	path = home/.vim/bundle/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "home/.vim/bundle/textobj-user"]
	path = home/.vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-bundler"]
	path = home/.vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "home/.vim/bundle/vim-endwise"]
	path = home/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/vim-abolish"]
	path = home/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "home/.vim/bundle/tern"]
	path = home/.vim/bundle/tern
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/searchfold"]
	path = home/.vim/bundle/searchfold
	url = https://github.com/vim-scripts/searchfold.vim.git
[submodule "home/.vim/bundle/ctrlp-filetype"]
	path = home/.vim/bundle/ctrlp-filetype
	url = https://github.com/endel/ctrlp-filetype.vim.git
[submodule "home/.vim/bundle/ctrlp-register"]
	path = home/.vim/bundle/ctrlp-register
	url = https://github.com/mattn/ctrlp-register.git
[submodule "home/.vim/bundle/emmet-vim"]
	path = home/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "home/.vim/bundle/startify"]
	path = home/.vim/bundle/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "home/.vim/bundle/airline"]
	path = home/.vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "home/.vim/bundle/slime"]
	path = home/.vim/bundle/slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "home/.vim/bundle/less"]
	path = home/.vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "home/.vim/bundle/repeat"]
	path = home/.vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/vim-snippets"]
	path = home/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/vim2hs"]
	path = home/.vim/bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
[submodule "home/.vim/bundle/mustache"]
	path = home/.vim/bundle/mustache
	url = https://github.com/mustache/vim-mode.git
[submodule "home/.vim/snippets/javascript"]
	path = home/.vim/snippets/javascript
	url = git@github.com:lightsofapollo/js-bdd-snippets-vim.git
[submodule "home/.vim/bundle/vim-node"]
	path = home/.vim/bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "home/.vim/bundle/ctrlp-funky"]
	path = home/.vim/bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/ag"]
	path = home/.vim/bundle/ag
	url = https://github.com/rking/ag.vim.git
